# ==============================================================================
# Configurações do Google Cloud Platform (GCP)
# ==============================================================================

# O ID único do seu projeto no Google Cloud (não é o nome do projeto!)
# Exemplo: movie-analytics-1a2b3c
GCP_PROJECT_ID=coloque_seu_project_id_aqui

# O nome do bucket que será criado/utilizado no Cloud Storage (GCS)
# Exemplo: meunome-movielens-landing-zone
GCS_BUCKET_NAME=coloque_o_nome_do_seu_bucket_aqui
GCS_DESTINATION_FOLDER = "raw-bronze"
LOCAL_EXTRACT_PATH = "/tmp/movielens_data"

# ==============================================================================
# Autenticação (Service Accounts / ADC)
# ==============================================================================

# Caminho interno do container para o arquivo JSON de credenciais.
# Instruções: Coloque o seu arquivo adc.json dentro da pasta /credentials na raiz do projeto.
GOOGLE_APPLICATION_CREDENTIALS=/usr/local/airflow/credentials/adc.json

#URL de Download do Dataset
URL_DATASET = "https://files.grouplens.org/datasets/movielens/ml_belief_2024_data_release_2.zip"

# NOTA PARA QUEM CLONAR O PROJETO:
# 1. Copie este arquivo e renomeie a cópia para '.env'
# 2. Substitua os valores acima pelas suas configurações reais do GCP.
# 3. NUNCA faça commit do arquivo '.env' preenchido!